<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LookAtThatMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2D7704D1225993E75CBD0A3D4F7960FD537F118C</string>
				<key>dateExpires</key>
				<string>6/3/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2D7704D1225993E75CBD0A3D4F7960FD537F118C</string>
						<key>dateExpires</key>
						<string>6/3/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>lib_InternalSwiftSyntaxParser.dylib</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XR2HQNSZ68</string>
						<key>name</key>
						<string>Ivan Lugo</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XR2HQNSZ68.com.wallspaghetti.LookAtThatMobile</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>XR2HQNSZ68</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LookAtThatMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4cc5b5cd-3070-4fff-8308-39b836c17660</string>
				<key>dateExpires</key>
				<string>6/3/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.wallspaghetti.LookAtThatMobile</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XR2HQNSZ68</string>
				<key>name</key>
				<string>Ivan Lugo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
